apiVersion: v1
kind: ConfigMap
metadata:
  name: openbao-config
  labels:
    app: openbao
data:
  extraconfig-from-values.hcl: |
    ui = true

    listener "tcp" {
      address = "[::]:8200"
      cluster_address = "[::]:8201"
      tls_disable = 1
    }

    storage "file" {
      path = "/openbao/data"
    }
