apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.service.name | default (include "openbao.fullname" .) }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "openbao.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  extraconfig-from-values.hcl: |
    ui = {{ .Values.config.ui }}

    {{- if .Values.config.disable_mlock }}
    disable_mlock = true
    {{- end }}

    listener "tcp" {
      address = "[::]:{{ .Values.service.port }}"
      cluster_address = "[::]:{{ .Values.service.clusterPort }}"
      tls_disable = 1
    }

    storage "file" {
      path = "{{ .Values.storage.path }}"
    }
