apiVersion: apps/v1
kind: Deployment
metadata:
  name: tinode-log-reader
  namespace: tinode
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tinode-log-reader
  template:
    metadata:
      labels:
        app: tinode-log-reader
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: reader
          image: busybox
          command: ["sh", "-c", "sleep infinity"]
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: logs
              mountPath: /logs
              readOnly: true
      volumes:
        - name: logs
          persistentVolumeClaim:
            claimName: tinode-logs