replicaCount: 1

image:
  repository: quay.io/openbao/openbao
  tag: "2.0.2"
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: openbao

service:
  type: ClusterIP
  port: 8200
  clusterPort: 8201

storage:
  size: 1Gi
  storageClass: local-path
  path: /openbao/data

resources: {}

config:
  disable_mlock: true
  ui: true
