replicaCount: 1

image:
  repository: quay.io/strimzi/operator
  tag: 0.41.0
  pullPolicy: IfNotPresent

watchNamespaces:
  - kafka

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

logLevel: INFO
