apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: broker
  namespace: {{ .Values.kafka.namespace }}
  labels:
    strimzi.io/cluster: {{ .Values.kafka.name }}
spec:
  replicas: 1
  roles:
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        class: {{ .Values.storage.class }}
        size: {{ .Values.storage.size }}
        deleteClaim: {{ .Values.storage.deleteClaim }}
        kraftMetadata: shared
