apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: kafka-router-push
  namespace: kafka
spec:
  refreshInterval: 1h
  deletionPolicy: Delete
  updatePolicy: Replace
  
  secretStoreRefs:
    - name: openbao-global
      kind: ClusterSecretStore
  
  selector:
    secret:
      name: user
  
  data:
    - match:
        secretKey: password
        remoteRef:
          remoteKey: kafka/user
          property: password
    
    - match:
        secretKey: sasl.jaas.config
        remoteRef:
          remoteKey: kafka/user
          property: sasl_jaas_config