{{- if .Values.pushSecret.enabled }}
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ .Values.pushSecret.name }}
  namespace: {{ .Values.kafka.namespace }}
spec:
  refreshInterval: {{ .Values.pushSecret.refreshInterval }}
  deletionPolicy: {{ .Values.pushSecret.deletionPolicy }}
  updatePolicy: {{ .Values.pushSecret.updatePolicy }}
  
  secretStoreRefs:
    - name: {{ .Values.pushSecret.secretStore.name }}
      kind: {{ .Values.pushSecret.secretStore.kind }}
  
  selector:
    secret:
      name: {{ .Values.user.name }}
  
  data:
    {{- range .Values.pushSecret.data }}
    - match:
        secretKey: {{ .secretKey }}
        remoteRef:
          remoteKey: {{ .remoteKey }}
          {{- if .property }}
          property: {{ .property }}
          {{- end }}
    {{- end }}
{{- end }}