apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "router.fullname" . }}
data:
  # NETWORK
  LISTEN_ADDR: ":{{ .Values.service.port }}"
  HEALTH_ADDR: ":{{ .Values.service.healthPort }}"

  # KAFKA (non-secret)
  KAFKA_BROKERS: {{ .Values.kafka.brokers | quote }}
  KAFKA_CLIENT_ID: {{ .Values.kafka.clientId | quote }}
  TOPIC_PREFIX: {{ .Values.kafka.topicPrefix | quote }}

  # SASL/TLS
  KAFKA_SASL_ENABLE: {{ .Values.kafka.sasl.enabled | quote }}
  KAFKA_SASL_MECHANISM: {{ .Values.kafka.sasl.mechanism | quote }}
  KAFKA_SASL_USERNAME: {{ .Values.kafka.sasl.username | quote }}
  KAFKA_TLS_ENABLE: {{ .Values.kafka.tls.enabled | quote }}
  KAFKA_TLS_INSECURE_SKIP_VERIFY: {{ .Values.kafka.tls.insecureSkipVerify | quote }}

  # LOGGING
  LOG_LEVEL: {{ .Values.log.level | quote }}