apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "router.fullname" . }}
  labels:
    app: router
spec:
  replicas: 1
  selector:
    matchLabels:
      app: router
  template:
    metadata:
      labels:
        app: router
    spec:
      imagePullSecrets:
          - name: ghcr-secret
      containers:
        - name: router
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: IfNotPresent

          envFrom:
            - configMapRef:
                name: {{ include "router.fullname" . }}

          env:
            - name: KAFKA_SASL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: router-kafka-user
                  key: password