openbao:
  enabled: true
  server: "http://openbao.openbao.svc.cluster.local:8200"
  path: "secret"
  role: "kafka"
  serviceAccount: "kafka-sa"
  secretsPath: "secret/kafka"
  resyncInterval: "10s"
  
kafka:
  name: kafka
  namespace: kafka
  version: 4.1.0
  replicas: 1

topics:
  - name: tinode.ctrl
    partitions: 1
    replicas: 1
  - name: tinode.data
    partitions: 3
    replicas: 1
  - name: tinode.pres
    partitions: 3
    replicas: 1
  - name: tinode.meta
    partitions: 1
    replicas: 1
  - name: tinode.info
    partitions: 1
    replicas: 1
  - name: tinode.topic-events
    partitions: 1
    replicas: 1
  - name: tinode.account-events
    partitions: 1
    replicas: 1
  - name: tinode.subscription-events
    partitions: 1
    replicas: 1
  - name: tinode.message-events
    partitions: 3
    replicas: 1
  - name: tinode.dlq
    partitions: 1
    replicas: 1
