{{- if .Values.pushSecret.enabled }}
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ include "postgres.fullname" . }}-pushsecret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
spec:
  refreshInterval: {{ .Values.pushSecret.refreshInterval | default "1h" }}
  
  secretStoreRefs:
    - name: {{ .Values.pushSecret.secretStoreName }}
      kind: ClusterSecretStore
  
  selector:
    secret:
      name: {{ include "postgres.fullname" . }}-credentials
  
  data:
    - match:
        secretKey: POSTGRES_USER
        remoteRef:
          remoteKey: {{ .Values.pushSecret.remotePath }}
          {{- if .Values.pushSecret.useProperty }}
          property: username
          {{- end }}
    - match:
        secretKey: POSTGRES_PASSWORD
        remoteRef:
          remoteKey: {{ .Values.pushSecret.remotePath }}
          {{- if .Values.pushSecret.useProperty }}
          property: password
          {{- end }}
    - match:
        secretKey: POSTGRES_DB
        remoteRef:
          remoteKey: {{ .Values.pushSecret.remotePath }}
          {{- if .Values.pushSecret.useProperty }}
          property: database
          {{- end }}
    - match:
        secretKey: POSTGRES_URL
        remoteRef:
          remoteKey: {{ .Values.pushSecret.remotePath }}
          {{- if .Values.pushSecret.useProperty }}
          property: url
          {{- end }}
  
  # Что делать при удалении PushSecret
  deletionPolicy: {{ .Values.pushSecret.deletionPolicy | default "None" }}
{{- end }}