{{/*
  Проверяем существует ли Secret - если да, используем существующий пароль
  Это критично для helm upgrade - пароль не должен меняться
*/}}
{{- $secretName := printf "%s-credentials" (include "postgres.fullname" .) -}}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName -}}

{{- $password := "" -}}
{{- if $existingSecret }}
  {{/* Secret существует - декодируем и используем существующий пароль */}}
  {{- $password = index $existingSecret.data "POSTGRES_PASSWORD" | b64dec }}
{{- else }}
  {{/* Secret не существует - генерируем новый пароль */}}
  {{- $password = randAlphaNum 32 }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "postgres.labels" . | nindent 4 }}
  annotations:
    "helm.sh/resource-policy": keep  # Не удалять при helm uninstall
type: Opaque
stringData:
  POSTGRES_USER: {{ .Values.postgres.user | quote }}
  POSTGRES_PASSWORD: {{ $password | quote }}
  POSTGRES_DB: {{ .Values.postgres.database | quote }}
  POSTGRES_URL: {{ printf "postgresql://%s:%s@%s:%d/%s" (urlquery .Values.postgres.user) (urlquery $password) (include "postgres.fullname" .) (.Values.service.port | int) (urlquery .Values.postgres.database) | quote }}