infisical:
  identityId: 15cd709a-c052-440d-9e68-9c4e860ddda9
  project: echo-rvq-s
  env: dev
  serviceAccount:
    name: infisical-service-account
    namespace: default

kafka:
  name: kafka
  namespace: kafka
  version: 4.1.0
  replicas: 1

topics:
  - name: tinode.ctrl
    partitions: 1
    replicas: 1
  - name: tinode.data
    partitions: 3
    replicas: 1
  - name: tinode.pres
    partitions: 3
    replicas: 1
  - name: tinode.meta
    partitions: 1
    replicas: 1
  - name: tinode.info
    partitions: 1
    replicas: 1
  - name: tinode.topic_events
    partitions: 1
    replicas: 1
  - name: tinode.account_events
    partitions: 1
    replicas: 1
  - name: tinode.subscription_events
    partitions: 1
    replicas: 1
  - name: tinode.message_events
    partitions: 3
    replicas: 1
  - name: tinode.dlq
    partitions: 1
    replicas: 1
