server:
  enabled: true

  image:
    repository: openbao/openbao
    tag: "2.0.0"   # фиксируй версию

  dev:
    enabled: false

  ha:
    enabled: false

  dataStorage:
    enabled: true
    size: 5Gi

  standalone:
    enabled: true
    config: |
      ui = true

      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = 1
      }

      storage "file" {
        path = "/vault/data"
      }

      disable_mlock = true

  service:
    type: ClusterIP
    port: 8200

  serviceAccount:
    create: true
    name: vault

  securityContext:
    runAsNonRoot: true
    runAsUser: 100
    fsGroup: 1000

ui:
  enabled: true

injector:
  enabled: true
