server:
  enabled: true

  volumes:
    - name: openbao-server-tls
      secret:
        secretName: openbao-server-tls
        defaultMode: 420

  volumeMounts:
    - name: openbao-server-tls
      mountPath: /openbao/userconfig/openbao-server-tls
      readOnly: true

  extraEnvironmentVars:
    BAO_ADDR: "https://127.0.0.1:8200"
    BAO_API_ADDR: "https://$(POD_IP):8200"

  readinessProbe:
    enabled: true
    exec:
      command:
        - /bin/sh
        - -ec
        - bao status -tls-skip-verify

  image:
    repository: openbao/openbao
    tag: "2.0.0"

  dev:
    enabled: false

  ha:
    enabled: false

  dataStorage:
    enabled: true
    size: 5Gi

  # Рекомендуется оставить включенным, если нет жестких ограничений окружения
  podSecurityContext:
    enabled: false
  securityContext:
    enabled: false

  standalone:
    enabled: true
    config: |
      ui = true
      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = true
      }
      storage "file" {
        path = "/openbao/data"
      }
      disable_mlock = true

  service:
    enabled: true
    type: ClusterIP
    port: 8200

serviceAccount:
  create: true
  name: openbao 

ui:
  enabled: true
  serviceType: NodePort
  serviceNodePort: 30201

injector:
  enabled: true