server:
  enabled: true

  image:
    repository: openbao/openbao
    tag: "2.0.0"

  dev:
    enabled: false

  ha:
    enabled: false

  dataStorage:
    enabled: true
    size: 5Gi

  # Рекомендуется оставить включенным, если нет жестких ограничений окружения
  podSecurityContext:
    enabled: false
  securityContext:
    enabled: false

  standalone:
    enabled: true
    config: |
      ui = true

      listener "tcp" {
        address = "0.0.0.0:8200"
        tls_disable = 1
      }

      storage "file" {
        path = "/openbao/data" # В OpenBao стандартный путь может отличаться от Vault
      }

      disable_mlock = true

  # ИСПРАВЛЕННЫЙ БЛОК SERVICE
  service:
    enabled: true
    type: NodePort
    port: 8200
    targetPort: 8200
    nodePort: 30200

  serviceAccount:
    create: true
    name: openbao 

ui:
  enabled: true
  serviceType: NodePort 
  serviceNodePort: 30201 

injector:
  enabled: true