# values-tempo.yaml

tempo:
  storage:
    trace:
      backend: local
      local:
        path: /var/tempo/traces
      wal:
        path: /var/tempo/wal
  
  retention: 72h
  
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"
    jaeger:
      protocols:
        thrift_http:
          endpoint: "0.0.0.0:14268"
  
  metricsGenerator:
    enabled: true
    remoteWriteUrl: "http://kube-prometheus-stack-prometheus.monitoring.svc:9090/api/v1/write"

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 512Mi

serviceMonitor:
  enabled: true