loki:
  deploymentMode: SingleBinary
  
  auth_enabled: false
  
  commonConfig:
    replication_factor: 1
  
  storage:
    type: filesystem
  
  limits_config:
    retention_period: 168h
    max_query_lookback: 168h
    ingestion_rate_mb: 10
    ingestion_burst_size_mb: 20
  
  compactor:
    retention_enabled: true

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 20Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 1Gi

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

gateway:
  enabled: true
  replicas: 1

monitoring:
  serviceMonitor:
    enabled: true
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: false

test:
  enabled: false

chunksCache:
  enabled: false
resultsCache:
  enabled: false