apiVersion: v2
name: openbao-config
description: OpenBao with Kubernetes auth configuration for apps and infra
type: application
version: 0.1.0
appVersion: "2.0.0"

dependencies:
  - name: openbao
    version: "0.6.0"
    repository: "https://openbao.github.io/openbao-helm"
    condition: openbao.enabled