apiVersion: v2
name: openbao-config
description: OpenBao with Kubernetes auth configuration for apps and infra
type: application
version: 0.1.0
appVersion: "2.0.0"

dependencies:
  - name: openbao
    version: "0.6.0"
    repository: "https://openbao.github.io/openbao-helm"
    condition: openbao.enabled

# OpenBao subchart configuration
openbaoServerAddr: "http://openbao.openbao.svc.cluster.local:8200"

openbao:
  enabled: true
  server:
    dev:
      enabled: false
    standalone:
      enabled: true
    dataStorage:
      enabled: true
      size: 1Gi
    service:
      type: ClusterIP

kubernetesAuth:
  path: kubernetes

secretsEngines:
  - path: secret
    type: kv-v2

namespaces:
  kafka:
    enabled: true
    createNamespace: false
    serviceAccounts:
      - name: kafka-sa
        namespace: kafka
    policies:
      - name: kafka-policy
        rules: |
          path "secret/data/kafka/*" {
            capabilities = ["read", "list"]
          }
          path "secret/metadata/kafka/*" {
            capabilities = ["read", "list"]
          }
    roles:
      - name: kafka
        boundServiceAccountNames: [kafka-sa]
        boundServiceAccountNamespaces: [kafka]
        policies: [kafka-policy]
        ttl: 1h
  router:
    enabled: true
    createNamespace: false
    serviceAccounts:
      - name: router-sa
        namespace: router

    policies:
      - name: router-policy
        rules: |
          path "secret/data/kafka/*" {
            capabilities = ["read"]
          }
          path "secret/metadata/kafka/*" {
            capabilities = ["read"]
          }
    
    roles:
      - name: router
        boundServiceAccountNames: [router-sa]
        boundServiceAccountNamespaces: [router]
        policies: [router-policy]
        ttl: 1h

serviceAccounts:
  create: true

authDelegator:
  create: true