{{- range .Values.topics }}
apiVersion: kafka.strimzi.io/v1
kind: KafkaTopic
metadata:
  name: {{ .name }}
  namespace: kafka
  labels:
    strimzi.io/cluster: kafka
spec:
  partitions: {{ .partitions }}
  replicas: {{ .replicas }}
---
{{- end }}
