envFrom:
  - configMapRef:
      name: {{ include "tinode-router.fullname" . }}

env:
  # Kafka SASL
  - name: KAFKA_SASL_ENABLE
    valueFrom:
      secretKeyRef:
        name: kafka-sasl
        key: ENABLE

  - name: KAFKA_SASL_MECHANISM
    valueFrom:
      secretKeyRef:
        name: kafka-sasl
        key: MECHANISM

  - name: KAFKA_SASL_USERNAME
    valueFrom:
      secretKeyRef:
        name: kafka-user
        key: username
        optional: true

  - name: KAFKA_SASL_PASSWORD
    valueFrom:
      secretKeyRef:
        name: kafka-user
        key: password

  # Kafka TLS
  - name: KAFKA_TLS_ENABLE
    valueFrom:
      secretKeyRef:
        name: kafka-tls
        key: ENABLE

  - name: KAFKA_TLS_INSECURE_SKIP_VERIFY
    valueFrom:
      secretKeyRef:
        name: kafka-tls
        key: INSECURE_SKIP_VERIFY
